/* Basic CSS Syntax -> SELECTOR { STYLE } */

/* Syntax to style HTML tag */
/* Use just the tag */

body {
	font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

h2 {
	color: blueviolet;
}

p {
	color: royalblue;
    text-align: center;
}

/* Syntax to style a class */
/* Use a dot (.) */

.main {
    background-color: antiquewhite;
	padding: 50px;
    border: 2px solid rebeccapurple;
    margin: 20px;
}

/* Syntax to style an ID */
/* Use a pound sign (#) */

#contactLink {
	font-weight: bold;
	color: orangered;
}
